<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssuranceMaladieApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ListActivity4"
            android:exported="false" />
        <activity
            android:name=".InformationActivity3"
            android:exported="false" />
        <activity
            android:name=".AcceuilActivity2"
            android:exported="false" />
        <activity
            android:name=".OptiqueActivity10"
            android:exported="false" />
        <activity
            android:name=".RadiographieActivity9"
            android:exported="false" />
        <activity
            android:name=".VignetteActivity8"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".TelechargeActivity"
            android:exported="false" />
        <activity
            android:name=".ReclamationActivity"
            android:exported="false" />
        <activity
            android:name=".RemboursementActivity"
            android:exported="false" />
        <activity
            android:name=".HistoriqueActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AnalyseActivity7"
            android:exported="false" />
        <activity
            android:name=".Activity5"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".InscriptionActivity3"
            android:exported="false" />
        <activity
            android:name=".LoginActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity1"
            android:exported="false" />
        <activity
            android:name=".ShowupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>